<h1>Posts</h1>
    <div class="row mb-2">
    <% @news.each do |news| %>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"  style="background-color: white;">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0"><%= news.title %></h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto"><%= news.body %></p>
            <%= display_index_post_links(news) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<br>

<%= link_to 'New News', new_post_path %>
